# ===================== 用户RPC服务主配置 =====================

Name: userrpc.rpc     # go-zero内部服务名，影响服务注册与发现，建议唯一（如 user.rpc、product.rpc）
ListenOn: 0.0.0.0:8081   # RPC监听地址与端口，0.0.0.0 代表接受所有IP访问（不限制来源）

# ======================== 数据源配置 =========================
DataSource: root:123456@tcp(mysql:3306)/testdb?charset=utf8mb4&parseTime=True&loc=Local
  # 数据库连接字符串格式示例：
  # <用户名>:<密码>@tcp(<数据库主机>:<端口>)/<数据库名>?<参数>
  # 1. 用户名与密码： root:123456 （必须保证有testdb数据库访问权限）
  # 2. 主机与端口： mysql:3306    （mysql为docker-compose中的服务名, 3306为MySQL默认端口）
  # 3. 数据库名：    testdb
  # 4. charset=utf8mb4： 推荐utf8mb4, 兼容emoji与多语言字符
  # 5. parseTime=True：  Go驱动自动解析时间为time.Time类型，避免时间戳处理异常
  # 6. loc=Local：       使用本地时区，业务/日志显示按本地时间为准

# ========================= 日志配置 =========================
Log:
  ServiceName: userrpc         # 日志输出中的服务名称，可以便于区分不同微服务/模块日志
  Mode: file                   # 日志模式：console(控制台), file(本地文件), volume(Docker卷，专用于容器持久化)
  Path: logs                   # 日志存放路径，推荐 logs（如容器，挂载外部卷目录更可靠）
  Level: info                  # 日志详细程度：debug(最高)、info(一般)、error(仅错误)、severe(严重错误)
  Compress: true               # 是否对归档历史日志文件进行压缩（节省存储空间，便于归档）
  KeepDays: 7                  # 日志文件最长保留天数，周期性自动清理过期日志，避免磁盘占满
  StackCooldownMillis: 100     # 堆栈重复采集的最小冷却间隔（毫秒，避免频繁记录冗余堆栈）
